@import "./variables";


.centerContent {
    @apply 2xl:w-[60%] lg:w-[80%]  w-[95%] mx-auto
}

// @apply lg:w-[60%] w-[90%] mx-auto

.myslider .slick-list{
    @apply pb-24;
}
.myslider .slick-slide > div { padding: 0 14px; }


/*=========================================================
    PRODUCT DETAIL SLICK STYLE
===========================================================*/
  .vertical-slick .slick-current .img-slick{
    border: 3px solid  $Primary;
}

/*=========================================================
    HEADER DROPDOWN
===========================================================*/

/*
 *  SCROLL DESIGN
 */



 #scroll-design::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 #scroll-design::-webkit-scrollbar
 {
     width: 5px;
     background-color: #F5F5F5;
 }
 
 #scroll-design::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: $Primary;
 }
 

/*=========================================================
    LOADER STYLE
===========================================================*/

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: $Primary;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }


  /*=========================================================
    GUEST LAYOUT
===========================================================*/

.guestLayout{
  img{
    width: 100%;
  }
  .login {
      height: 1000px;
      width: 100%;
   
      background: radial-gradient(#653d84, #332042);
      // background: radial-gradient($Primary, $PrimaryDark);
      position: relative;
  }
  .login_box {
      width: 1050px;
      height: 700px;
      position: absolute;
      top: 44%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: #fff;
      border-radius: 10px;
      box-shadow: 1px 4px 22px -8px #0004;
      display: flex;
      overflow: hidden;
  }
  .login_box .left{
    width: 41%;
    height: 100%;
    padding: 25px 25px;
    
  }
  .login_box .right{
    width: 59%;
    height: 100%  
  }
  .left .top_link a {
      color: #452A5A;
      font-weight: 400;
  }
  .left .top_link{
    height: 20px
  }
  .left .contact{
    display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      height: 100%;
      width: 73%;
      margin: auto;
  }
  .left h3{
    text-align: center;
    margin-bottom: 20px;
  }

  .left{
    background: linear-gradient(-45deg, #dcd7e0, #fff);
  }

  
  
  
  .right {
    // background: linear-gradient(212.38deg, rgba(242, 57, 127, 0.7) 0%, rgba(175, 70, 189, 0.71) 100%),url(https://static.seattletimes.com/wp-content/uploads/2019/01/web-typing-ergonomics-1020x680.jpg);
    background: linear-gradient(212.38deg, rgba(242, 57, 128, 0.7) 0%, rgba(189, 70, 70, 0.71) 100%),url(https://static.seattletimes.com/wp-content/uploads/2019/01/web-typing-ergonomics-1020x680.jpg);
    color: #fff;
    position: relative;
  }
  
  .right .right-text{
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
  }
  .right-text h2{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
  }
  .right-text h5{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
  }
  
  .right .right-inductor{
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
  }
  .top_link img {
      width: 28px;
      padding-right: 7px;
      margin-top: -3px;
  }
}